<footer class="site-footer">
  <div class="container">
    <div class="footer-bar">
      <div class="footer-left">
        <div class="footer-illus"><img src="/images/scb_logo_site_footer.png" alt="scb_logo_site_footer"></div>
        <div class="footer-main">
          <div class="footer-title">SCB <span class="footer-sub">Конфиденциальность</span></div>
          <div class="footer-desc">Вся размещенная информация на сайте не является публичной офертой. We are in no way affiliated with or endorsed by Mojang, AB.</div>
        </div>
      </div>

      <div class="footer-right">
        <div class="footer-icons">
              <a href="https://discord.gg/wp8FW9NbWx" aria-label="discord"><img src="/images/discord_footer.svg" alt="d"></a>
              <a href="https://t.me/scboff" aria-label="telegram"><img src="/images/telegram_footer.svg" alt="t"></a>
              <a href="https://www.youtube.com/@SCB_minecraft" aria-label="youtube"><img src="/images/youtube_footer.svg" alt="y"></a>
        </div>

        <div class="footer-credit-compact">
          <div>Реализовал <a href="https://discord.com/users/255605841472782337">@skyze</a>, 2026</div>
          <div>© Оформление сайта. skyze, 2026</div>
        </div>
      </div>
    </div>
  </div>
</footer>
